@use "../vendor/normalize";
@use "../vendor/ys-text";
@use "../vendor/garamond";
@use "../vendor/glyphter";

@use "../common.blocks/button";
@use "../common.blocks/form";
@use "../common.blocks/modal";

@use "../common.blocks/page";
@use "../common.blocks/header";

@use "../common.blocks/gallery";
@use "../common.blocks/card";
@use "../common.blocks/basket";
@use "../common.blocks/order";
@use "../common.blocks/order-success";


@use "variables" as *;
@use "mixins";

.basket__item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 0;
  border-bottom: 1px solid #060C14;
}

.basket__item-index {
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.basket__item-main {
  display: flex;
  align-items: center;
  flex: 1;
}

.basket__item-title {
  font-family: 'YS Text', sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}

.basket__item-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.basket__item-price {
  white-space: nowrap;
  text-align: right;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
}

.modal_active {
  display: flex;
}

.gallery .card__price {
  text-align: left;
  display: block;
  width: 100%;
  margin-left: 0;
}


.order__fieldset {
  border: none;
}

.order__buttons {
  padding: 20px 0;
}

.radio__button {
  background-color: #1E334F;
  color: white;
}

